if TARGET_MX6REXTINY

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "mx6rex_tiny"

config SYS_VENDOR
	default "fedevel"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6rex_tiny"

endif
